body {
  font-family: "Roboto";
}

.navbar {
  position: fixed;
  background-color: rgb(226, 241, 226);
  padding: 20px 25px;
  border-right: 1px solid rgb(195, 194, 194);
  top: 60px;
  left: 0;
  height: calc(100vh - 10px);
}

.input {
  margin-bottom: 12px;
}

.buttons {
  margin-bottom: 12px;
  margin-top: 5px;
  background-color: rgb(7, 85, 7);
}

.containerStyle {
  display: flex;
}

.iconCart {
  font-size: 35px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 35px;
}

.iconForm {
  font-size: 35px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 85px;
}

.iconEdit {
  font-size: 15px;
  margin-left: 10px;
  cursor: pointer;
}

.login {
  color: rgb(7, 85, 7);
  margin-right: 120px;
}

.circle {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(7, 85, 7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  right: 20px;
  top: 25%;
  transform: translateY(-50%);
}

.top {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgb(195, 194, 194);
  margin-bottom: 5px;
  background-color: white;
}

.font {
  margin: 5px 5px;
}

.inputNum {
  width: 100px;
}

.buttonSize {
  background-color: rgb(7, 85, 7);
  font-size: small;
  margin: 3px;
}

.container {
  margin-top: 50px;
  margin-left: 300px;
  margin-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
}

.itemsStyle {
  margin-right: 20px;
  margin-bottom: 20px;
  width: 300px;
  background-color: rgb(226, 241, 226);
  border: 1px solid rgb(195, 194, 194);
}

.title {
  color: rgb(7, 85, 7);
  text-align: center;
  font-size: larger;
  font-weight: bold;
  padding: 10px 10px;
}

.amount {
  font-size: medium;
  display: flex;
  padding-left: 12px;
  bottom: 85px;
  font-size: small;
}

.price {
  font-size: medium;
  display: flex;
  padding-left: 12px;
  bottom: 100px;
  font-size: medium;
}

.starDefault {
  display: flex;
  justify-content: center;
  font-size: large;
  color: black;
}

.star {
  display: flex;
  justify-content: center;
  font-size: large;
  color: rgb(241, 101, 8);
}

.flexBtn {
  display: flex;
  padding: 5px;
  justify-content: center;
}

.flexItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.btnAdd {
  background-color: rgb(7, 85, 7);
  font-size: small;
  margin-right: 100px;
}

.btnDelete {
  background-color: rgb(7, 85, 7);
  font-size: small;
}

.zero {
  opacity: 0.5;
  pointer-events: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.select {
  font-size: 15px;
  margin: 12px 12px;
}

.pag {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 30px 0;
  border-top: 1px solid rgb(195, 194, 194);
  margin-top: 5px;
  background-color: white;
}

.img {
  margin-top: 15px;
  width: 300px;
  height: 300px;
}
